@barHeight: 25px;

grouped-bars {
  margin: 10px 0;
  display: table;
  width: 100%;

  p {
    margin: 0px;
  }

  .bar-container {

    .upper-bar {
      height: @barHeight / 2;
      width: 100%;
      font-size: 12px;
      float: right;
    }

    .bar {
      width: 100%;
      float: right;
      display: block;
      position: relative;

      background: #8fc800 !important; /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYzgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZjYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNjAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
      background: -moz-linear-gradient(left,  #8fc800 0%, #fff600 50%, #c60000 100%) !important; /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8fc800), color-stop(50%,#fff600), color-stop(100%,#c60000)) !important; /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  #8fc800 0%,#fff600 50%,#c60000 100%) !important; /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  #8fc800 0%,#fff600 50%,#c60000 100%) !important; /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  #8fc800 0%,#fff600 50%,#c60000 100%) !important; /* IE10+ */
      background: linear-gradient(to right,  #8fc800 0%,#fff600 50%,#c60000 100%) !important; /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#c60000',GradientType=1 ) !important; /* IE6-8 */
      height: 20px !important;
      box-shadow: 1px 1px 2px gray !important;
      margin: 10px !important;
      .pin{
        width: 4px !important;
        height: 20px !important;
      }

      height: @barHeight / 2;

      span {
        min-width: 30px;
        height: @barHeight / 2;
        color: #ccc;
        position: relative;
        float: left;
        line-height: 18px;
        background: #ccc;

        .point {
          height: @barHeight / 3;
          position: absolute;
          min-width: 18px;
          right: 0;
          padding: 0 5px;
        }
      }

      .pin {
        width: 5px;
        height: 12px;
        position: absolute;
      }
    }
  }
}

grouped-bars:after {
  content:"";
  display:table;
  clear:both;
}
